:root {

  /* Colores */
  --primary: #9146A8;
  --secondary: #42AEDD;
  --accent: #F03591;
  --light: #F0BD4C;
  --black: #1A1A1A;
  --white: #FFFFFF;

  /* Tipografías */
  --font-primary: 'Sansita Swashed', cursive;
  --font-secondary: 'Cinzel', serif;
  --font-body: 'Arimo', sans-serif;

  /* Tamaños */
  --h1: 36px;
  --h2: 28px;
  --body: 16px;

  /* Espaciado base 4 */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;

  /* Layout */
  --container: 1200px;

  /* Bordes */
  --radius: 20px;
}